body {
    padding: 10px;
}


.dx-datagrid {
    height: auto;
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
    text-align: left;
}

.add-button-container {
    text-align: right;
    margin-top: 15px;
}

.dx-button {
    padding: 5px 15px;
}

.dx-button.dx-button-danger {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}  

/* Căn giữa tất cả nội dung trong ô (bao gồm text, select, input, file) */
.dx-datagrid-rowsview .dx-row>td {
    vertical-align: middle !important;
}